@model StreamBudget.ViewModels.SeriesSearchVM

<head>
    <link rel="stylesheet" href="~/css/index.css" />

    <link rel="stylesheet" href="~/css/searchresults.css" />
</head>

<form asp-action="Search" asp-controller="Search" method="get" class="row g-3 mb-5">
    <input type="hidden" name="watchlistId" value="@Model.WatchlistId" id="watchlist-id"/>
    <div class="col-9 ms-xxl-5 col-xxl-7">
        <input type="text" class="form-control" name="titleName" placeholder="Search for a TV series..." maxlength="100" required />
    </div>
    <div class="col-3 col-xxl-3">
        <button type="submit" class="btn btn-primary">Search</button>
    </div>
</form>

<div class="d-flex flex-column gap-5">
@{
    int seriesIndex = 0;
    foreach(var item in Model.SearchResults)
    {
        <div class="container p-4 series-item" id="container-for-@item.ImdbId">
            <div class="row bold-text">
                <div class="col">
                    <h4 id="series-title-@item.ImdbId">@item.Title</h4>
                </div>
                <div class="col">
                    <h5><span id="first-air-year-@item.ImdbId">@item.FirstAirYear</span>-@item.LastAirYear</h5>
                </div>
                <div class="row">
                    <div>
                        Recommended age:
                        <span id="advised-audience-age-@item.ImdbId">
                            @{if(item.AdvisedMinimumAudienceAge > 0)
                                {
                                    @item.AdvisedMinimumAudienceAge
                                }
                                else
                                {
                                    <i>(N/A)</i> 
                                }
                            }
                        </span>
                    </div>
                </div>
            </div>
     

            <div class="d-flex align-items-start flex-row gap-2">
                    <img src="@item.BackdropURL" alt="Poster Image" class="w-25">
                    <div class="text-wrap w-75 overflow-y-scroll">@item.Overview</div>
            </div>
        
            <div class="row bold-text">
                Seasons: @item.SeasonCount
            </div>
            <span class="hidden" id="episode-run-time-@item.ImdbId">@item.Runtime</span>
            <span class="hidden" id="episode-count-@item.ImdbId">@item.EpisodeCount</span>

            <div class="accordion" id="accordionExample">
                <div class="accordion-item">
                    <h2 class="accordion-header text-white">
                        <button class="accordion-button bg-secondary text-white" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            Watch time stats
                        </button>
                    </h2>
                    <div id="collapseOne" class="accordion-collapse collapse show bg-secondary" data-bs-parent="#accordionExample">
                        <div class="accordion-body text-dark">


                            <table class="table table-dark">
                                <thead>
                                <tr>
                                    <th>Season #</th>
                                    <th>Time (in hours)</th>
                                </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Full series</td>
                                        @{
                                            if (Model.CompletionTimes.ElementAtOrDefault(seriesIndex).EstimatedWatchtime != null)
                                            {
                                                <td id="full-series-watchtime-series-@item.ImdbId">~@Model.CompletionTimes.ElementAtOrDefault(seriesIndex).EstimatedWatchtime</td>
                                            }
                                            else
                                            {
                                                <td id="full-series-watchtime-series-@item.ImdbId">(N/A)</td>
                                            }
                                        }
                                    </tr>
                                    
                                    @{
                                        
                                        @foreach(var season in Model.CompletionTimes.ElementAt(seriesIndex).SeasonWatchtimes)
                                        {
                                            <tr>
               
                                                <td>@season.SeasonName</td>

                                                @if(season.EstimatedWatchtime != null)
                                                {
                                                    <td>~@season.EstimatedWatchtime</td>
                                                }
                                                else
                                                {
                                                    <td>(N/A)</td>
                                                }

                                            </tr>
                                        }
                                    }
                                    
                                </tbody>
                            </table>


                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed bg-secondary text-white" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            Platform Availability
                        </button>
                    </h2>
                    <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                        <div class="accordion-body bg-secondary">
                                <table class="table text-white">
                                    <thead>
                                        <tr>
                                            @{
                                                foreach(var platform in item.StreamingInfo)
                                                {
                                                    <th>@platform.PlatformName</th>
                                                }
                                            }
                                        
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            @{
                                                foreach (var platform in item.StreamingInfo)
                                                {
                                                    if(platform.AvailableOnSubscription != null)
                                                    {
                                                        if(platform.AvailableOnSubscription == true)
                                                        {
                                                            <td><img src="~/img/check-solid.svg" class="green-check" alt="Yes" /></td>
                                                        }else
                                                        {
                                                            <td><img src="~/img/xmark-solid.svg" class="red-xmark" alt="No" /></td>
                                                        }
                                                    }
                                                    else
                                                    {
                                                        <td>???</td>
                                                    }
                                                }
                                            }
                                        </tr>
                                    </tbody>
                                </table>
                        </div>
                    </div>
                </div>

            </div>

                
                <button class="btn btn-primary mt-3 add-series-to-watchlist-btn" id="add-to-watchlist-btn-series-btn-@item.ImdbId">Add to watch list</button>
        </div>
        seriesIndex++;
    }
}
</div>

@section Scripts{
    <script type="text/javascript" src="~/js/searchresults.js"></script>
    <script type="text/javascript" src="~/js/site.js"></script>
}