@model StreamBudget.ViewModels.WatchlistVM

<head>
    <link rel="stylesheet" href="~/css/regwatchlist.css" />
    <link rel="stylesheet" href="~/css/viewwatchlistitems.css" />
</head>


<span class="hidden" id="watchlist-id">@Model.WatchlistId</span>



    <form class="SB-container mb-5" id="watchlist-stats-form">
        <div class="mb-3 row">
            <label for="tv-hours-per-day-input" class="col-sm-5 col-form-label">Hours of TV per day</label>
            <div class="col-md-4">
                <input type="number" placeholder="Ex: 2" class="form-control" id="tv-hours-per-day-input" min="0" max="24" />
            </div>
        </div>
        <div class="mb-3 row">
            <label for="streaming-cost-per-month" class="col-sm-5 col-form-label">Streaming subscription cost per month</label>
            <div class="col-md-4">
                <input type="number" placeholder="Ex: 6.99 (USD only)" step="0.01" class="form-control" id="streaming-cost-per-month-input" min="0" value="@Model.WatchlistPlatformPrice"/> <!--Input from "create watchlist" should be pre-existing value.-->
            </div>
        </div>
        <button type="button" id="generate-watchlist-stats-btn" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#watchlistStatsModal">
            Generate stats
        </button>
    </form>




<table class="table table-dark table-hover">
    <thead>
        <tr>
            <th>Title</th>
            <th>Hours to watch</th>
            <th></th> <!--Intentionally blank (meant for "X" when removing a watchlist item)-->
            <th></th> <!--Intentionall blank (meant for "O" when toggling whether to count an item's total watchtime hours).-->
        </tr>
    </thead>
    <tbody>
        @{

            int i = 0;
            foreach(var item in Model.WatchlistItems)
            {
                <tr class="table-active" id="watchlist-entry-@item.ImdbId">
                    <td>@item.Title (@item.FirstAirYear)</td>

                    @if(Model.CompletionTimes.ElementAtOrDefault(i).WatchtimeInHours != null)
                    {
                        <td>@Model.CompletionTimes.ElementAtOrDefault(i).UserFriendlyDisplay</td>
                        <td class="hidden watchlist-entry-fs-watchtime"><input type="hidden" name="FullSeriesHoursWatchtime" id="total-watchtime-@item.ImdbId-input"  value="@Model.CompletionTimes.ElementAtOrDefault(i).WatchtimeInMinutes"></td>
                    }
                    else
                    {
                        <td>@Model.CompletionTimes.ElementAtOrDefault(i).UserFriendlyDisplay</td>
                        <td class="hidden watchlist-entry-fs-watchtime"><input type="hidden" name="FullSeriesHoursWatchtime" id="total-watchtime-@item.ImdbId-input" value="0"></td>
                    }

                    <td><span type="button" class="hoverable-indication togglable-watchlist-item-icon" id="toggle-watchtime-inclusion-btn-item-@item.ImdbId">O</span></td>
                    <td><span type="button" class="hoverable-indication remove-watchlist-series-btn" id="remove-watchlist-item-@item.ImdbId">X</span></td>
                </tr>
                i++;
            }
        }
    </tbody>
</table>



<!-- Modal -->
<div class="modal fade" id="watchlistStatsModal" tabindex="-1" aria-labelledby="watchlistStatsModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content bg-dark text-white">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="watchlistStatsModalLabel">Full watchlist stats</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" id="watchlist-stats-modal-body">
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

@section Scripts{
    <script type="text/javascript" src="~/js/serieswatchlist.js"></script>
    <script type="text/javascript" src="~/js/generatewatchliststats.js"></script>
    <script type="text/javascript" src="~/js/ViewWatchllistItems/togglewatchlistitem.js"></script>
}