@model IEnumerable<Watchlist>

<head>
    <link rel="stylesheet" href="~/css/watchlist.css"/> 
</head>

<h2 class="text-white">My watchlists</h2>
<div class="d-flex flex-column my-5 gap-5">
@{
    foreach(var watchlist in Model)
    {
        <div class="SB-container watchlist">
            <h4 class="mb-3">@watchlist.Name</h4>
            <p><span class="fw-bold">Streaming Platform:</span> 
                    @{
                        if(watchlist.StreamingPlatform == null)
                        {
                            <span class="fst-italic">(none)</span>
                        }
                        else
                        {
                            @watchlist.StreamingPlatform
                        }
                    }
                
            </p>
            <p><span class="fw-bold">Subscription cost (monthly)</span>:
                    @{
                        if (watchlist.SelectedStreamingCost == null)
                        {
                            <span class="fst-italic">(none)</span>
                        }
                        else
                        {
                            @watchlist.SelectedStreamingCost
                        }
                    }
            </p>

            <div class="btn-group gap-3 mt-4" role="group">
                <a role="button" class="btn btn-primary" asp-action="ViewWatchlistItems" asp-controller="Watchlist" asp-route-watchlistId="@watchlist.Id">View items</a>
                <a role="button" class="btn btn-success" asp-action="Search" asp-route-watchlistId="@watchlist.Id" asp-controller="Search">Add items</a> <!--Maybe just consider changing "search results" to "search" (& removing the other view)-->
            </div>
        </div>
    }
}
</div>

<a role="button" class="btn btn-primary" asp-action="CreateWatchlist">Create a watchlist</a>